@import "tailwindcss";
@layer utilities {
    .green-500 {
        color: hsl(158, 36%, 37%)
    }
    .green-700 {
        color: hsl(158, 42%, 18%)
    }
    .grey {
        color: hsl(228, 12%, 48%)
    }
    .cream {
        color: hsl(30, 38%, 92%)
    }
    .black {
        color: hsl(212, 21%, 14%)
    }

    .bg-color-default {
        background-color: hsl(30, 38%, 92%)
    }
}
