@import "tailwindcss";

@font-face {
    font-family: 'FigTree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Range of weights available */
    font-style: normal;
}

.bg-color-default {
    background-color:hsl(47, 88%, 63%)
}

.hover\:yellow:hover {
    color: hsl(47, 88%, 63%);
}

.gray-500 {
    color: hsl(0, 0%, 42%)
}
.gray-950 {
    color: hsl(0, 0%, 7%)
}
body {
    font-size: 16px;
    font-family: 'FigTree', 'sans-serif';
}